@import url("https://fonts.googleapis.com/css2?family=Archivo+Black&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500&display=swap");
footer .social-btns .btn, footer .social-btns, footer .contact form, footer .contact p, footer .contact h3, .skills, section.about .aboutMe .img-wrapper-0, section.about .aboutMe .aboutMe-inside p, section.about .aboutMe .aboutMe-inside h3 {
  opacity: 0;
  transform: translateY(100px);
  transition: opacity 500ms, transform 1000ms;
  transition-delay: 200ms;
}

footer .social-btns .btn.is-visible, footer .social-btns.is-visible, footer .contact form.is-visible, footer .contact p.is-visible, footer .contact h3.is-visible, .skills.is-visible, section.about .aboutMe .img-wrapper-0.is-visible, section.about .aboutMe .aboutMe-inside p.is-visible, section.about .aboutMe .aboutMe-inside h3.is-visible, section.about h1.is-visible {
  opacity: 1;
  transform: translateY(0);
}

footer .contact h3 {
  font-family: "Archivo Black", sans-serif;
  color: #0de8e8;
  font-size: 3rem;
}

footer .contact p {
  font-size: 20px;
  font-family: "Roboto", sans-serif;
  font-weight: 300;
}

footer .contact form a, .header-wrapper .content #iAm a {
  border: 2px solid #0de8e8;
  color: #0de8e8;
  text-decoration: none;
  font-family: "Roboto", sans-serif;
  font-size: 20px;
  font-weight: 400;
  padding: 0.6rem 3rem;
  display: inline-block;
  margin-top: 70px;
  background-color: rgba(255, 255, 255, 0.05);
  border-radius: 1px;
  position: relative;
  overflow: hidden;
  z-index: 2;
  object-fit: scale-down;
}
footer .contact form a:before, .header-wrapper .content #iAm a:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 130%;
  height: 100%;
  background-color: #0de8e8;
  transform: translate(-110%, 0) skew(-30deg);
  transition: 0.5s;
  z-index: -2;
  border: 1.5px solid #0de8e8;
}
footer .contact form a:hover, .header-wrapper .content #iAm a:hover {
  color: #ffffff;
}
footer .contact form a:hover:before, .header-wrapper .content #iAm a:hover:before {
  transform: translate(-5%, 0) skew(-15deg);
}

* {
  margin: 0;
  padding: 0;
  list-style: none;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
* ::selection,
* ::before, * ::after {
  background: none;
}

body {
  max-width: 100%;
  background-image: url("../images/5-bw.jpg");
  background-attachment: fixed;
  background-position: left center;
  background-size: cover;
  font-family: "Roboto", sans-serif;
}
body.changeColor {
  background: linear-gradient(rgba(0, 0, 0, 0.58), rgba(9, 14, 23, 0.36)), url("../images/5-bw.jpg");
  background-attachment: fixed;
  background-position: left center;
  background-size: cover;
}

svg {
  position: absolute !important;
}

#canvas {
  position: fixed;
  top: 0;
  left: 0;
  -webkit-filter: url("#goo");
  filter: url("#goo");
}

.button_container {
  position: fixed;
  top: 5%;
  right: 2%;
  height: 27px;
  width: 35px;
  cursor: pointer;
  z-index: 100;
  transition: opacity 0.25s ease;
}
.button_container.active .top {
  transform: translateY(11px) translateX(0) rotate(45deg);
  background: #FFF;
}
.button_container.active .middle {
  opacity: 0;
  background: #FFF;
}
.button_container.active .bottom {
  transform: translateY(-11px) translateX(0) rotate(-45deg);
  background: #FFF;
}
.button_container span {
  background: #ffffff;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.23);
  border: none;
  height: 3px;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  transition: all 0.35s ease;
  cursor: pointer;
  border-radius: 1px;
}
.button_container span:nth-of-type(2) {
  top: 11px;
}
.button_container span:nth-of-type(3) {
  top: 22px;
}

.overlay {
  position: fixed;
  background: rgba(0, 21, 43, 0.993);
  opacity: 1;
  top: 0;
  left: 0;
  width: 100%;
  height: 0%;
  visibility: hidden;
  transition: opacity 0.35s, visibility 0.35s, height 0.35s;
  overflow: hidden;
  z-index: 5;
}
.overlay.open {
  visibility: visible;
  height: 100%;
}
.overlay.open li {
  animation: fadeInRight 0.5s ease forwards;
  animation-delay: 0.35s;
  width: 100%;
  height: 100%;
}
.overlay.open li:nth-of-type(2) {
  animation-delay: 0.4s;
}
.overlay.open li:nth-of-type(3) {
  animation-delay: 0.45s;
}
.overlay.open li:nth-of-type(4) {
  animation-delay: 0.5s;
}
.overlay nav.overlay-menu {
  position: relative;
  height: 70%;
  width: 100%;
  top: 50%;
  transform: translateY(-50%);
  font-size: 24px;
  font-family: sans-serif;
  font-weight: 400;
  text-align: center;
}
.overlay nav.overlay-menu ul {
  list-style: none;
  padding: 0;
  margin: 0 auto;
  display: inline-block;
  position: relative;
  height: 100%;
  width: 80%;
}
.overlay nav.overlay-menu ul hr {
  background-color: #aaa9a9;
}
.overlay nav.overlay-menu ul li {
  display: block;
  height: calc(100% / 10);
  min-height: 50px;
  position: relative;
  opacity: 0;
  width: 100%;
}
.overlay nav.overlay-menu ul li a {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  position: relative;
  color: #FFF;
  text-decoration: none;
  overflow: hidden;
}
.overlay nav.overlay-menu ul li a:after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 50%;
  width: 0%;
  transform: translateX(-50%);
  height: 2px;
  background: #FFF;
  transition: 0.35s;
}

@keyframes fadeInRight {
  0% {
    opacity: 0;
    left: 20%;
  }
  100% {
    opacity: 1;
    left: 0;
  }
}
span {
  font-size: 5rem;
  font-weight: bold;
  line-height: 4.5rem;
  font-family: "Archivo Black", sans-serif;
  text-shadow: 1px 1px 10px #333333;
}
span.fill {
  color: #ffffff;
  z-index: 0;
}

.header-wrapper {
  height: calc(100vh + 200px);
  max-width: 100%;
  overflow: hidden;
}
.header-wrapper .content {
  margin-bottom: 100px;
}
.header-wrapper .content #iAm a {
  animation: coming 4s 1;
}
@keyframes coming {
  0% {
    top: 100px;
    opacity: 0;
  }
  50% {
    top: 100px;
    opacity: 0;
  }
  70% {
    top: 100px;
    opacity: 0;
  }
  100% {
    top: 0;
    opacity: 1;
  }
}
.header-wrapper .content #effect {
  font-size: 6rem;
  font-weight: bold;
  line-height: 5rem;
  font-family: "Archivo Black", sans-serif;
  color: #ffffff;
  text-shadow: 1px 1px 10px #333333;
  height: 220px;
}

section.about {
  background: #ECF0F1;
  position: relative;
  z-index: 2;
  color: #ffffff;
}
section.about:before {
  position: absolute;
  width: 100%;
  height: 300px;
  content: "";
  left: 0;
  top: -10%;
  background-color: #ECF0F1;
  transform: skewY(3deg);
  z-index: 2;
}
section.about:after {
  position: absolute;
  width: 100%;
  height: 300px;
  content: "";
  left: 0;
  top: 70%;
  background-color: #ECF0F1;
  transform: skewY(-3deg);
  z-index: -1;
}
section.about .container {
  background-color: #ECF0F1;
}
section.about h1 {
  font-family: "Archivo Black", sans-serif;
  color: #0de8e8;
  font-size: 3.5rem;
  flex: 1 0 100%;
  z-index: 4;
  padding-bottom: 2rem;
  opacity: 0;
  transform: translateY(50px);
  transition: opacity 500ms, transform 500ms;
  position: absolute;
  top: -7%;
  left: 11%;
}
section.about .aboutMe {
  background-color: #ECF0F1;
  z-index: 2;
}
section.about .aboutMe .aboutMe-inside {
  padding-top: 3rem;
}
section.about .aboutMe .aboutMe-inside h3 {
  font-family: "Archivo Black", sans-serif;
  font-size: 2rem;
  color: #0de8e8;
}
section.about .aboutMe .aboutMe-inside p {
  font-size: 20px;
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  color: #000a24;
}
section.about .aboutMe .img-wrapper-0 .img-wrapper {
  width: 300px;
  height: 300px;
  position: relative;
  overflow: hidden;
  box-shadow: 0 4.5px 3.6px rgba(0, 0, 0, 0.024), 0 12.5px 10px rgba(0, 0, 0, 0.035), 0 30.1px 24.1px rgba(0, 0, 0, 0.046), 0 100px 80px rgba(0, 0, 0, 0.07);
}
section.about .aboutMe .img-wrapper-0 .img-wrapper img {
  width: 140%;
  z-index: 67;
  position: absolute;
  top: -15%;
  left: -20%;
  filter: sepia(20%);
}

.skills {
  transition-delay: 500ms;
  background-color: #ECF0F1;
  z-index: 2;
}
.skills .skills-wrapper {
  padding: 2rem;
}
.skills li {
  margin: 20px 0;
}
.skills li h3 {
  font-family: "Roboto", sans-serif !important;
  font-weight: 500 !important;
  font-size: 18px !important;
  padding: 0;
  margin: 0;
  color: #000a24;
}
.skills li .percent {
  font-size: 18px;
  color: #000a24;
  text-shadow: none;
  font-weight: 300;
  float: right;
  line-height: 23px;
  font-family: "Roboto", sans-serif;
}
.skills li .bar {
  background-color: #dfdfe3;
  display: inline-block;
  width: 80%;
  height: 10px;
  border-radius: 1px;
  overflow: hidden;
}
.skills li .bar span {
  height: 100%;
  float: left;
  background-color: #0995a1;
}
.skills .html {
  width: 100%;
}
.skills .css {
  width: 100%;
}
.skills .bootstrap {
  width: 100%;
}
.skills .javascript {
  width: 80%;
}
.skills .jquery {
  width: 80%;
}
.skills .sass {
  width: 100%;
}
.skills .less {
  width: 100%;
}
.skills .es6 {
  width: 100%;
}
.skills .github {
  width: 100%;
}

footer {
  position: relative;
  margin-top: 150px;
  overflow: hidden;
  color: #ffffff;
}
footer .contact {
  margin-bottom: 150px;
}
footer .contact h3 {
  padding-top: 0;
  margin-top: 0;
}
footer .contact p {
  display: flex;
  justify-content: center;
  width: 100%;
  padding: 2rem 0;
}
footer .contact form {
  max-width: 60%;
  background-color: transparent !important;
}
footer .contact form input, footer .contact form textarea {
  background-color: rgba(255, 255, 255, 0.38);
  margin-top: 3px;
  outline: none;
  border-width: 0;
  border-style: none;
  border-color: transparent;
  border-image: none;
  display: inline-block;
  padding: 0.5rem 2rem !important;
  border-radius: 1px;
  color: #ffffff;
}
footer .contact form input::placeholder, footer .contact form textarea::placeholder {
  color: #eeeeee;
  font-weight: 100;
}
footer .contact form a {
  padding: 0.5rem 1.5rem;
  margin-top: 1rem;
  margin-left: auto;
  margin-right: 0;
}
footer .social-btns {
  margin: auto;
  text-align: center;
  margin-top: 5rem;
  background-color: #ECF0F1;
  position: relative;
}
footer .social-btns .btn {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #fff;
  width: 50px;
  height: 50px;
  line-height: 90px;
  margin: 0 10px;
  text-align: center;
  position: relative;
  overflow: hidden;
  border-radius: 50%;
  box-shadow: 0 5px 15px -5px rgba(0, 0, 0, 0.1);
  opacity: 0.99;
  transition: all 0.35s;
  transition-timing-function: cubic-bezier(0.31, -0.105, 0.43, 1.59);
}
footer .social-btns .btn:before {
  content: "";
  width: 120%;
  height: 120%;
  position: absolute;
  transform: rotate(45deg);
  top: 90%;
  left: -110%;
  transition: all 0.35s;
  transition-timing-function: cubic-bezier(0.31, -0.105, 0.43, 1.59);
}
footer .social-btns .btn i {
  transform: scale(0.8);
  font-size: 25px;
  transition: all 0.35s;
  transition-timing-function: cubic-bezier(0.31, -0.105, 0.43, 1.59);
}
footer .social-btns .btn.mail {
  transition-delay: 0;
}
footer .social-btns .btn.mail:before {
  background-color: #0084F7;
}
footer .social-btns .btn.mail i {
  color: #0084F7;
}
footer .social-btns .btn.twitter {
  transition-delay: 350ms;
}
footer .social-btns .btn.twitter:before {
  background-color: #3cf;
}
footer .social-btns .btn.twitter i {
  color: #3cf;
}
footer .social-btns .btn.linkedin {
  transition-delay: 300ms;
}
footer .social-btns .btn.linkedin:before {
  background-color: #0E76A8;
}
footer .social-btns .btn.linkedin i {
  color: #0E76A8;
}
footer .social-btns .btn.github {
  transition-delay: 400ms;
}
footer .social-btns .btn.github:before {
  background-color: #640e74;
}
footer .social-btns .btn.github i {
  color: #640e74;
}
footer .social-btns .btn.instagram {
  transition-delay: 250ms;
}
footer .social-btns .btn.instagram:before {
  background: #f09433;
  background: -moz-linear-gradient(45deg, #f09433 0%, #e6683c 25%, #dc2743 50%, #cc2366 75%, #bc1888 100%);
  background: -webkit-linear-gradient(45deg, #f09433 0%, #e6683c 25%, #dc2743 50%, #cc2366 75%, #bc1888 100%);
  background: linear-gradient(45deg, #f09433 0%, #e6683c 25%, #dc2743 50%, #cc2366 75%, #bc1888 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr="#f09433", endColorstr="#bc1888",GradientType=1 );
}
footer .social-btns .btn.instagram i {
  color: #cc2366;
}
footer .social-btns .btn:hover:before, footer .social-btns .btn:focus:before {
  top: -10%;
  left: -10%;
}
footer .social-btns .btn:hover i, footer .social-btns .btn:focus i {
  color: #fff;
  transform: scale(1);
}
footer .social-btns:before {
  position: absolute;
  width: 100%;
  height: 100px;
  content: "";
  left: 0;
  bottom: 60%;
  background-color: #ECF0F1;
  transform: skewY(3deg);
  z-index: -1;
}
footer .social-btns #legal {
  padding: 0;
  margin: 0;
  width: 100%;
  height: 4.5rem;
  color: black;
  font-size: 12px;
}

@media only screen and (max-width: 768px) {
  html {
    font-size: 50%;
  }

  .about .aboutMe, .about .skills {
    flex: 1 0 100%;
    width: 100%;
  }
  .about:after {
    top: 81% !important;
  }
}
@media (max-width: 992px) {
  html {
    font-size: 70%;
  }
}

/*# sourceMappingURL=styles.css.map */
